@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Accueil - CabinetMedecin2";
}

<main role="main">
    <div class="container-fluid hero-section">
        <div class="row align-items-center">
            <div class="col-md-6 text-center text-md-start">
                <h1>Bienvenue sur CabinetMedecin2</h1>
                <p class="lead">Une gestion efficace pour un meilleur suivi médical.</p>
                <a href="#" class="btn btn-primary">En savoir plus</a>
            </div>
            <div class="col-md-6">
                <img src="~/css/hero-image.jpg" class="img-fluid" alt="Image d'accueil">
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-3">
                <div class="card mb-4">
                    <img src="~/css/docteur1.jpg" class="card-img-top" alt="Image du médecin">
                    <div class="card-body">
                        <h5 class="card-title">Dr. John Doe</h5>
                        <p class="card-text">Spécialité : Médecin généraliste</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mb-4">
                    <img src="~/css/docteur2.jpg" class="card-img-top" alt="Image du médecin">
                    <div class="card-body">
                        <h5 class="card-title">Dr. Jane Smith</h5>
                        <p class="card-text">Spécialité : Cardiologue</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mb-4">
                    <img src="~/css/docteur3.jpg" class="card-img-top" alt="Image du médecin">
                    <div class="card-body">
                        <h5 class="card-title">Dr. Alex Johnson</h5>
                        <p class="card-text">Spécialité : Dermatologue</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mb-4">
                    <img src="~/css/docteur4.jpg" class="card-img-top" alt="Image du médecin">
                    <div class="card-body">
                        <h5 class="card-title">Dr. Emily Brown</h5>
                        <p class="card-text">Spécialité : Pédiatre</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Services offerts</h5>
                        <ul>
                            <li>Consultations médicales</li>
                            <li>Examens médicaux</li>
                            <li>Ordonnances</li>
                            <li>Services de chirurgie mineure</li>
                            <li>Service de radiologie</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Heures d'ouverture</h5>
                        <ul>
                            <li>Lundi - Vendredi : 8h00 - 17h00</li>
                            <li>Samedi : 9h00 - 13h00</li>
                            <li>Dimanche : Fermé</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Contact</h5>
                        <p class="card-text">
                            Adresse : 123 rue du Cabinet<br>
                            Téléphone : 0123 456 789<br>
                            Email : info@cabinetmedecin2.com
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
