@model CabinetMedecin2.Models.Patient;

@{
    ViewData["Title"] = "Profil du patient";
}

<div class="container">
    <h1>Profil du patient</h1>
    
    <!-- Afficher d'autres informations sur le patient selon vos besoins -->
</div>

<footer class="footer mt-auto py-3 bg-light">
    <div class="container text-center">
        &copy; @DateTime.Now.Year - CabinetMedecin2 - <a href="#">Politique de confidentialité</a>
    </div>
</footer>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
